.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}

.dice {
  position: fixed;
  right: 20px;
  bottom: 15px;
  perspective: 80px;
}
.dice-content {
  /* 设定一个初始角度值以便查看效果 */
  transform: rotateX(-30deg) rotateY(-40deg);
  position: relative;
  margin: 10px auto;
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: 50%;
  -webkit-transform-origin: 50%;
  animation: rotate 5s infinite;
  -webkit-animation: rotate 5s infinite;
  animation-timing-function: ease;
}
.dice-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #e8e8e9;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
/* 上下面是沿 X 轴翻转并在 Y 轴上位移 */
.dice-pos-top {
  display: flex;
  align-items: center;
  transform: rotateX(90deg) translateZ(12px);
}
.dice-pos-top .dice-point {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: red;
  box-shadow: inset 1px 1px 2px #333;
}
.dice-pos-bottom {
  display: flex;
  justify-content: space-around;
  transform: rotateX(90deg) translateZ(-12px);
}
/* 左右面是沿 Y 轴翻转并位移, 从效果上看是沿 X 轴平移，但因为加了翻转效果，其实是在 Z 轴上平移 */
.dice-pos-left {
  transform: rotateY(90deg) translateZ(-12px);
}
.dice-pos-right {
  transform: rotateY(90deg) translateZ(12px);
}
/* 前后面不做翻转，只在 Z 轴坐标系上平移 */
.dice-pos-front {
  transform: translateZ(12px);
}
.dice-pos-back {
  transform: translateZ(-12px);
}
.dice-point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px black;
  background-color: #333;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateX(-30deg) rotateY(-40deg)
    }
  35% {
    transform: rotateX(180deg) rotateY(360deg)
  }
  75% {
    transform: rotateX(-90deg) rotateY(-180deg)
  }
  100% {
    transform: rotateX(30deg) rotateY(40deg)
  }
}
